<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/10557b428c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="mx-auto w-75 p-3">
          <a href="/" class="navbar-brand">
              <img src="http://www.asr-tarbes.fr/wp-content/uploads/2017/07/Calendar-1.png" height="28" alt="CoolBrand">
              Eventbrite
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <%= link_to "Accueil", root_path, class: "btn btn-inverse"%>
                  <%= link_to "Edit email / password", edit_user_registration_path, class: "btn btn-inverse"%>
              </div>
              <div class="navbar-nav ml-auto">
                    <% if user_signed_in? %>
                        <%= link_to raw('Sign out <i class="fas fa-sign-out-alt"></i>'), destroy_user_session_path, method: :delete %>
                    <%else%>
                        <%= link_to raw('Sign in <i class="fas fa-sign-in-alt"></i> '), new_user_session_path %> 
                        <span class="mx-2">
                          or
                        </span> 
                        <%= link_to raw('Sign up <i class="fas fa-user-plus"></i>'), new_user_registration_path %>
                    <%end%>
              </div>
          </div>
      </div>
    </nav>

    <div class="mx-auto w-75 p-5">
      <%= yield %>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
